:root{
    --clr-bg: hsl(192, 20%, 5%);
    --clr-text: hsl(35, 50%, 95%);
    --clr-primary: hsl(35, 76%, 75%);
    --clr-secondary: hsl(208, 69%, 79%);
    --clr-accent: hsl(196, 27%, 64%);

    --clr-neutral-900: hsl(0, 0%, 0%);
    --clr-neutral-700: hsl(0, 0%, 20%);
    --clr-neutral-500: hsl(0, 0%, 40%);
    --clr-neutral-300: hsl(0, 0%, 60%);

    --clr-success: hsl(133, 100%, 80%);
    --clr-danger: hsl(0, 90%, 74%);

    --font-size-display: 7rem;
    --font-size-h1: 5.688rem;
    --font-size-h2: 4.375rem;
    --font-size-h3: 3.063rem;
    --font-size-body1: 1.625rem;
    --font-size-body: 1rem;
    --font-size-caption: 0.813rem;

    --font-size-button: 1.438rem;
}