@font-face {
    font-family: 'ExtraBold';
    src: url('/public/Fonts/Supreme-Extrabold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Bold';
    src: url('/public/Fonts/Supreme-Bold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'BoldItalic';
    src: url('/public/Fonts/Supreme-BoldItalic.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Medium';
    src: url('/public/Fonts/Supreme-Medium.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Regular';
    src: url('/public/Fonts/Supreme-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Light';
    src: url('/public/Fonts/Supreme-Light.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Thin';
    src: url('/public/Fonts/Supreme-Thin.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Italic';
    src: url('/public/Fonts/Supreme-Italic.woff2') format('woff2');
    font-display: swap;
}