/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
* {
  margin-block-end: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}
ul[role=list] a,
ol[role=list] a {
  text-decoration: none;
}

/* Set core body defaults */
body, #root {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture, svg {
  max-width: 100%;
  display: block;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

@font-face {
  font-family: "ExtraBold";
  src: url("public/Fonts/Supreme-Extrabold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Bold";
  src: url("public/Fonts/Supreme-Bold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "BoldItalic";
  src: url("public/Fonts/Supreme-BoldItalic.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Medium";
  src: url("public/Fonts/Supreme-Medium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Regular";
  src: url("public/Fonts/Supreme-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Light";
  src: url("public/Fonts/Supreme-Light.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Thin";
  src: url("public/Fonts/Supreme-Thin.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Italic";
  src: url("public/Fonts/Supreme-Italic.woff2") format("woff2");
  font-display: swap;
}
:root {
  --clr-bg: hsl(192, 20%, 5%);
  --clr-text: hsl(35, 50%, 95%);
  --clr-primary: hsl(35, 76%, 75%);
  --clr-secondary: hsl(208, 69%, 79%);
  --clr-accent: hsl(196, 27%, 64%);
  --clr-neutral-900: hsl(0, 0%, 0%);
  --clr-neutral-700: hsl(0, 0%, 20%);
  --clr-neutral-500: hsl(0, 0%, 40%);
  --clr-neutral-300: hsl(0, 0%, 60%);
  --clr-success: hsl(133, 100%, 80%);
  --clr-danger: hsl(0, 90%, 74%);
  --font-size-display: 7rem;
  --font-size-h1: 5.688rem;
  --font-size-h2: 4.375rem;
  --font-size-h3: 3.063rem;
  --font-size-body1: 1.625rem;
  --font-size-body: 1rem;
  --font-size-caption: 0.813rem;
  --font-size-button: 1.438rem;
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-text);
  line-height: 1.2;
  font-size: var(--font-size-body);
  font-family: "Regular";
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-neutral-300);
}

.primary {
  color: var(--clr-primary);
}

.secondary {
  color: var(--clr-secondary);
}

.accent {
  color: var(--clr-accent);
}

.page {
  color: var(--clr-text);
  position: relative;
  padding-bottom: 0.5rem;
}
.page::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--clr-secondary);
  bottom: 0;
  transition: width 300ms ease-in-out;
}
.page.active {
  font-family: "BoldItalic";
  color: var(--clr-text);
}
.page.active::before {
  width: 50%;
}
.page.inactive::before {
  background-color: var(--clr-neutral-300);
}
.page.inactive:hover, .page.inactive:focus {
  font-family: "Italic";
}
.page.inactive:hover::before, .page.inactive:focus::before {
  width: 50%;
}

.loading-fallback {
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 0;
  align-items: center;
  justify-content: center;
}

.header {
  padding-block: 2rem;
}
.header nav {
  max-width: clamp(70%, 80vw, 90rem);
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  padding-block: 3rem;
}
.header nav ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.header nav button {
  display: none;
}
@media screen and (max-width: 600px) {
  .header nav ul {
    display: none;
  }
  .header nav button {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.footer {
  padding-block: 7rem;
}
.footer nav {
  max-width: clamp(70%, 80vw, 90rem);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media screen and (max-width: 800px) {
  .footer nav {
    max-width: fit-content;
  }
}
.footer__label {
  font-size: var(--font-size-body1);
  color: var(--clr-primary);
}
.footer ul li a:hover, .footer ul li a:focus {
  color: var(--clr-secondary);
  font-family: "Italic";
}
.footer__socials--links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-top: 1.5rem;
}
.footer__socials a {
  font-size: 2rem;
  color: var(--clr-neutral-100);
  position: relative;
  top: 0;
  transition: top 100ms ease-in-out;
}
.footer__socials a:hover, .footer__socials a:focus {
  color: var(--clr-secondary);
  top: -3px;
}

.drag-and-drop {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23A4CBEEFF' stroke-width='6' stroke-dasharray='14%2c 14%2c 3' stroke-dashoffset='12' stroke-linecap='round'/%3e%3c/svg%3e");
  padding-block: calc(5vw + 3rem);
}
.drag-and-drop input {
  border: 1px solid red;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  cursor: pointer;
}

.homepage > *:not(.wrapper) {
  max-width: clamp(70%, 80vw, 90rem);
  margin-inline: auto;
}
.homepage__sub {
  padding-bottom: calc(10vw + 5rem);
}
.homepage__sub a {
  color: var(--clr-secondary);
  text-decoration: none;
  display: inline-flex;
  gap: 0.75rem;
  margin-inline: 0.75rem;
  transition: gap 200ms ease-in-out;
  font-family: "Bold";
  position: relative;
}
.homepage__sub a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--clr-neutral-300);
  width: 0;
  bottom: 0;
  transition: width 500ms ease-in-out;
}
.homepage__sub a:hover, .homepage__sub a:focus {
  gap: 1rem;
  font-family: "BoldItalic";
}
.homepage__sub a:hover::after, .homepage__sub a:focus::after {
  width: 40%;
}
.homepage h1 {
  font-family: "ExtraBold";
  font-size: clamp(3rem, 10vw, var(--font-size-display));
  line-height: 1.3;
  padding-top: calc(5vw + 2rem);
}
.homepage h1 a {
  position: relative;
  font-size: clamp(var(--font-size-body), 3vw, var(--font-size-body1));
  background-color: var(--clr-primary);
  color: var(--clr-neutral-900);
  text-decoration: none;
  padding: calc(min(1rem, 1vw) + 0.5rem) 2rem;
  border-radius: 5rem;
  display: inline-block;
  top: -1.5vw;
  white-space: nowrap;
  border: 2px solid var(--clr-primary);
  margin-top: 1rem;
  transition: top 200ms ease-in-out;
}
.homepage h1 a:hover {
  background-color: transparent;
  color: var(--clr-text);
  top: -2.1vw;
}
.homepage h1 a:focus {
  box-shadow: 0 0 25px var(--clr-text);
  opacity: 0.9;
}
.homepage h1 .img {
  width: calc(0.7em + 1rem);
  height: calc(0.7em + 1rem);
  border-radius: 0.25em;
  border: 2px solid var(--clr-text);
  background-image: url("../Assets/newspaper.jpg");
  display: inline-block;
  background-position: center;
  background-clip: content-box;
  position: relative;
  margin-inline: calc(2vw + 2.5rem);
  background-size: cover;
}
.homepage h1 .img::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 0.25em;
  border: 2px solid var(--clr-text);
  background-image: url("../Assets/banana.jpg");
  left: -0.65em;
  z-index: -1;
  background-position: center;
  background-size: cover;
}
.homepage h1 .img::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 0.25em;
  border: 2px solid var(--clr-text);
  background-image: url("../Assets/mess.jpg");
  right: -0.65em;
  z-index: 1;
  background-position: center;
  background-size: cover;
}
.homepage h2 {
  font-family: "Medium";
  font-size: clamp(2rem, 8vw, var(--font-size-h2));
  line-height: 1.2;
}
.homepage__mid-content {
  padding-block: calc(10vw + 10em) calc(25vw + 25em);
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
}
.homepage__mid-content h2 {
  max-width: 25ch;
  text-align: center;
  padding-top: 2rem;
}
.homepage__mid-content img {
  height: auto;
}
.homepage__mission {
  padding-bottom: calc(15vw + 15em);
}
.homepage__mission h2 {
  padding-bottom: 0.5em;
}
.homepage__mission p {
  line-height: 1.8;
  font-size: 1.1rem;
  max-width: 80ch;
}
@media screen and (max-width: 400px) {
  .homepage__mission p {
    max-width: 23ch;
  }
}
.homepage__offer {
  max-width: clamp(70%, 80vw, 90rem);
  margin-inline: auto;
  padding-block: calc(15vw + 5em);
}
.homepage__offer h2 {
  margin-top: 0;
}
.homepage__offer h3 {
  font-family: "Regular";
  font-size: clamp(var(--font-size-body1), 5vw, var(--font-size-h3));
  line-height: 1.2;
  padding-top: 0.75em;
}
.homepage__offer p {
  font-family: "Thin";
}
.homepage__closing {
  padding-block: calc(15vw + 15em);
}
.homepage__closing p:first-child {
  font-family: "Medium";
  font-size: clamp(2rem, 8vw, var(--font-size-h2));
  line-height: 1.2;
}
.homepage__closing p {
  font-family: "Thin";
}
.homepage__cta {
  max-width: clamp(70%, 80vw, 90rem);
  margin-inline: auto;
  padding-block: calc(10vw + 10em);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: calc(8vw + 2em);
  align-items: center;
}
.homepage__cta h2 {
  font-family: "ExtraBold";
  font-size: clamp(3rem, 10vw, var(--font-size-display));
  line-height: 1.3;
}
.homepage__cta a {
  font-family: "Regular";
  font-size: clamp(var(--font-size-body1), 5vw, var(--font-size-h3));
  line-height: 1.2;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 0.75em;
  padding-bottom: 5px;
  position: relative;
  width: max-content;
  margin-inline: auto;
}
.homepage__cta a::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--clr-neutral-300);
  bottom: 0;
  transition: width 400ms ease-in-out;
}
.homepage__cta a:hover, .homepage__cta a:focus {
  font-family: "Italic";
  color: var(--clr-secondary);
}
.homepage__cta a:hover::before, .homepage__cta a:focus::before {
  width: 50%;
}
.homepage .wrapper {
  background-color: var(--clr-neutral-700);
}

.compress .wrapper {
  background-color: var(--clr-neutral-700);
  padding-block: calc(3vw + 2em);
}
.compress h1 {
  font-family: "Bold";
  font-size: clamp(2.5rem, 10vw, var(--font-size-h1));
  line-height: 1.2;
}
.compress h2 {
  font-family: "Medium";
  font-size: clamp(2rem, 8vw, var(--font-size-h2));
  line-height: 1.2;
}
.compress .dot-anim:nth-child(0) {
  display: inline-block;
  position: relative;
  animation: dot-anim 500ms linear infinite;
  animation-delay: calc(150ms * 0);
}
.compress .dot-anim:nth-child(1) {
  display: inline-block;
  position: relative;
  animation: dot-anim 500ms linear infinite;
  animation-delay: calc(150ms * 1);
}
.compress .dot-anim:nth-child(2) {
  display: inline-block;
  position: relative;
  animation: dot-anim 500ms linear infinite;
  animation-delay: calc(150ms * 2);
}
.compress .dot-anim:nth-child(3) {
  display: inline-block;
  position: relative;
  animation: dot-anim 500ms linear infinite;
  animation-delay: calc(150ms * 3);
}
.compress__hero {
  display: flex;
  flex-direction: column;
  gap: calc(3vw + 2rem);
  max-width: clamp(80%, 85vw, 90rem);
  margin-inline: auto;
  padding-block: calc(3vw + 2rem);
}
.compress__hero p {
  margin: 0;
}
.compress__hero--files {
  box-shadow: 0 0 13px rgba(255, 255, 255, 0.2);
  overflow-y: scroll;
  height: clamp(25rem, 30vw, 40rem);
  position: relative;
}
.compress__hero--files .promise-loading {
  font-family: "Italic";
  font-size: var(--font-size-caption);
  position: absolute;
  inset: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
.compress__hero--files .note {
  font-family: "Italic";
  position: absolute;
  height: fit-content;
  width: fit-content;
  inset: 0;
  margin: auto;
  font-size: var(--font-size-caption);
}
.compress__hero .files__card {
  font-size: var(--font-size-caption);
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  align-items: flex-end;
  margin-inline: 1.5rem;
  padding-block: 1.5rem 0.75rem;
}
.compress__hero .files__card img {
  height: 25px;
  width: 25px;
}
.compress__hero .files__card:not(:last-child) {
  border-bottom: 1px solid var(--clr-neutral-500);
}
.compress__hero .files__card--download {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: flex-end;
}
.compress__hero button {
  font-family: "Bold";
  font-size: var(--font-size-button);
  padding-block: 1rem;
  background-color: var(--clr-primary);
  border: 1px solid var(--clr-primary);
  border-radius: 10em;
  position: relative;
  top: 0;
  transition: top 100ms ease-in-out;
  cursor: pointer;
}
.compress__hero button:not([disabled]):hover {
  background-color: transparent;
  color: var(--clr-text);
  top: -3px;
}
.compress__hero button[disabled] {
  opacity: 0.5;
  pointer-events: none;
  touch-action: none;
}
.compress__hero button:focus {
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.9);
}
.compress__instruction {
  padding-block: calc(10vw + 10rem);
}
.compress__instruction section, .compress__instruction h1 {
  max-width: clamp(80%, 85vw, 90rem);
  margin-inline: auto;
}
.compress__instruction--card {
  margin-block: calc(5vw + 5em);
}
.compress__instruction--card img {
  margin-inline: 0;
  height: auto;
}
@media screen and (max-width: 800px) {
  .compress__instruction--card img {
    width: auto;
  }
}
.compress__instruction--card:not(:nth-child(1)) img {
  padding-top: 5rem;
}
.compress__instruction ul {
  list-style: inside;
  line-height: 1.8;
}
.compress__instruction > *:not(h1) {
  padding-block: 3em;
}
.compress__instruction > * {
  padding-bottom: 3em;
}
.compress__closing {
  padding-block: calc(2vw + 3em) calc(15vw + 15em);
  max-width: clamp(80%, 85vw, 90rem);
  margin-inline: auto;
}
.compress__closing p:first-child {
  font-family: "Bold";
  font-size: clamp(2.5rem, 10vw, var(--font-size-h1));
  line-height: 1.2;
}
.compress__closing p:last-child {
  line-height: 1.8;
  font-family: "Thin";
}
.compress__cta {
  background-color: hsla(35, 76%, 75%, 0.4);
  font-family: "Bold";
  padding: calc(5em + 5vw);
  text-align: center;
}
.compress__cta :not(a) {
  font-family: "Medium";
  font-size: clamp(2rem, 8vw, var(--font-size-h2));
  line-height: 1.2;
  line-height: 1.8;
}
.compress__cta * {
  margin-top: 0;
}
.compress__cta a {
  text-decoration: none;
  background-color: var(--clr-accent);
  font-size: clamp(1rem, 1.5vw, var(--font-size-button));
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  margin-top: 3em;
  color: var(--clr-bg);
  position: relative;
}
.compress__cta a img {
  position: relative;
  right: 0;
  transition: right 200ms ease-in-out;
}
.compress__cta a:hover {
  font-style: italic;
}
.compress__cta a:hover img {
  right: -3px;
}
.compress__cta a:focus {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
}

.convert {
  position: relative;
}
.convert .wrapper {
  background-color: var(--clr-neutral-700);
  padding-block: calc(3vw + 2em);
}
.convert .caption {
  position: absolute;
  top: 3vw;
  font-size: var(--font-size-caption);
  font-family: "BoldItalic";
  color: var(--clr-danger);
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  opacity: 0;
  visibility: none;
  transition: opacity 300ms ease-in-out;
}
.convert .caption img {
  display: inline-block;
}
.convert .caption.show {
  opacity: 1;
  visibility: visible;
}
.convert .dot-anim:nth-child(0) {
  display: inline-block;
  position: relative;
  animation: dot-anim 500ms linear infinite;
  animation-delay: calc(150ms * 0);
}
.convert .dot-anim:nth-child(1) {
  display: inline-block;
  position: relative;
  animation: dot-anim 500ms linear infinite;
  animation-delay: calc(150ms * 1);
}
.convert .dot-anim:nth-child(2) {
  display: inline-block;
  position: relative;
  animation: dot-anim 500ms linear infinite;
  animation-delay: calc(150ms * 2);
}
.convert .dot-anim:nth-child(3) {
  display: inline-block;
  position: relative;
  animation: dot-anim 500ms linear infinite;
  animation-delay: calc(150ms * 3);
}
.convert h1 {
  font-family: "Bold";
  font-size: clamp(2.5rem, 10vw, var(--font-size-h1));
  line-height: 1.2;
}
.convert h2 {
  font-family: "Medium";
  font-size: clamp(2rem, 8vw, var(--font-size-h2));
  line-height: 1.2;
}
.convert__hero {
  display: flex;
  flex-direction: column;
  gap: calc(3vw + 2rem);
  max-width: clamp(80%, 85vw, 90rem);
  margin-inline: auto;
  padding-block: calc(3vw + 2rem);
}
@media screen and (min-width: 540px) {
  .convert__hero--buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
  }
  .convert__hero--buttons button {
    padding-inline: calc(5vw + 0.5em);
  }
}
.convert__hero p {
  margin: 0;
}
.convert__hero--files {
  box-shadow: 0 0 13px rgba(255, 255, 255, 0.2);
  overflow-y: scroll;
  height: clamp(25rem, 30vw, 40rem);
  position: relative;
}
.convert__hero--files .promise-loading {
  font-family: "Italic";
  font-size: var(--font-size-caption);
  position: absolute;
  inset: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
.convert__hero--files .note {
  font-family: "Italic";
  position: absolute;
  height: fit-content;
  width: fit-content;
  inset: 0;
  margin: auto;
  font-size: var(--font-size-caption);
}
.convert__hero .files__card {
  font-size: var(--font-size-caption);
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  align-items: flex-end;
  margin-inline: 1.5rem;
  padding-block: 1.5rem 0.75rem;
}
.convert__hero .files__card img {
  height: 25px;
  width: 25px;
}
.convert__hero .files__card:not(:last-child) {
  border-bottom: 1px solid var(--clr-neutral-500);
}
.convert__hero .files__card--download {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: flex-end;
}
.convert__hero select {
  padding: 0.5rem 3rem 0.5rem 1rem;
  margin-left: 1rem;
  background-color: transparent;
  color: var(--clr-text);
  border: 1px solid var(--clr-accent);
  border-radius: 0.5rem;
  background-image: url("../Assets/sd.svg");
  background-repeat: no-repeat;
  background-position: 85% center;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.convert__hero select:focus {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.9);
}
.convert__hero select option {
  color: var(--clr-bg);
}
.convert__hero select option[disabled] {
  color: var(--clr-neutral-500);
}
.convert__hero button {
  font-family: "Bold";
  font-size: var(--font-size-button);
  padding-block: 1rem;
  background-color: var(--clr-primary);
  border: 1px solid var(--clr-primary);
  border-radius: 10em;
  position: relative;
  top: 0;
  transition: top 100ms ease-in-out;
  cursor: pointer;
}
@media screen and (max-width: 540px) {
  .convert__hero button {
    margin-top: 1em;
    min-width: 100%;
  }
}
.convert__hero button:not([disabled]):hover {
  background-color: transparent;
  color: var(--clr-text);
  top: -3px;
}
.convert__hero button[disabled] {
  opacity: 0.5;
  pointer-events: none;
  touch-action: none;
}
.convert__hero button:focus {
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.9);
}
.convert__instruction {
  padding-block: calc(10vw + 10rem);
}
.convert__instruction section, .convert__instruction h1 {
  max-width: clamp(80%, 85vw, 90rem);
  margin-inline: auto;
}
.convert__instruction--card {
  margin-block: calc(5vw + 5em);
}
.convert__instruction--card img {
  margin-inline: 0;
  height: auto;
}
@media screen and (max-width: 800px) {
  .convert__instruction--card img {
    width: auto;
  }
}
.convert__instruction--card img {
  padding-top: 5rem;
}
.convert__instruction ul {
  list-style: inside;
  line-height: 1.8;
}
.convert__instruction > *:not(h1) {
  padding-block: 3em;
}
.convert__instruction > * {
  padding-bottom: 3em;
}
.convert__closing {
  padding-block: calc(2vw + 3em) calc(15vw + 15em);
  max-width: clamp(80%, 85vw, 90rem);
  margin-inline: auto;
}
.convert__closing p:first-child {
  font-family: "Bold";
  font-size: clamp(2.5rem, 10vw, var(--font-size-h1));
  line-height: 1.2;
}
.convert__closing p:last-child {
  line-height: 1.8;
  font-family: "Thin";
}
.convert__cta {
  background-color: hsla(35, 76%, 75%, 0.4);
  font-family: "Bold";
  padding: calc(5em + 5vw);
  text-align: center;
}
.convert__cta :not(a) {
  font-family: "Medium";
  font-size: clamp(2rem, 8vw, var(--font-size-h2));
  line-height: 1.2;
  line-height: 1.8;
}
.convert__cta * {
  margin-top: 0;
}
.convert__cta a {
  text-decoration: none;
  background-color: var(--clr-accent);
  font-size: clamp(1rem, 1.5vw, var(--font-size-button));
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 3rem;
  margin-top: 3em;
  color: var(--clr-bg);
  position: relative;
}
.convert__cta a img {
  position: relative;
  right: 0;
  transition: right 200ms ease-in-out;
}
.convert__cta a:hover {
  font-style: italic;
}
.convert__cta a:hover img {
  right: -3px;
}
.convert__cta a:focus {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
}

.disabled {
  pointer-events: none;
  touch-action: none;
}
.disabled #root > *:not(.floating-menu) {
  filter: blur(3px);
}

.floating-burger {
  position: fixed;
  top: 3.5rem;
  right: 3svw;
  z-index: 9999;
}
.floating-burger button {
  background-color: transparent;
  border: 1px solid var(--clr-neutral-500);
  background-color: black;
  padding: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: rotate 300ms ease-in-out;
}
.floating-burger button:hover {
  rotate: 180deg;
}

.floating-menu {
  clip-path: circle(0 at 99% 1%);
  position: fixed;
  inset: 0 0 0 auto;
  width: calc(20dvw + 10rem);
  background-color: var(--clr-neutral-900);
  z-index: 9999;
  pointer-events: all;
  touch-action: auto;
  transition: all 700ms ease-in-out;
}
.floating-menu.show {
  clip-path: circle(200svh at 100% 0);
}
.floating-menu nav {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  padding-top: 6rem;
}
.floating-menu li:not(:nth-of-type(1)) {
  padding-top: 2rem;
}
.floating-menu a {
  font-size: clamp(2rem, 6svw, var(--font-size-h2));
  font-family: "Light";
}
.floating-menu a span {
  -webkit-text-stroke: 1px var(--clr-text);
  color: transparent;
}
.floating-menu button {
  background-color: transparent;
  border: 0;
  align-self: flex-end;
  margin-right: calc(3svw + 2rem);
  cursor: pointer;
  transition: rotate 300ms ease-in-out;
}
.floating-menu button:hover {
  rotate: 180deg;
}

@media screen and (min-width: 50em) {
  .footer nav {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__label {
    margin-top: 0;
  }
  .homepage h1, .homepage__sub {
    text-align: center;
  }
  .homepage__offer--card {
    max-width: 70ch;
  }
  .homepage .container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
  }
  .compress > *:not(:has(.wrapper)) {
    max-width: clamp(70%, 80vw, 90rem);
    margin-inline: auto;
  }
  .compress > *:is(.compress__cta) {
    max-width: 100%;
  }
  .compress__hero button {
    align-self: flex-end;
    padding-inline: 5em;
  }
  .compress__instruction--card {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
  }
  .compress__instruction--card img {
    max-width: 40dvw;
  }
  .compress__cta {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
  }
  .convert__hero {
    max-width: clamp(70%, 80vw, 90rem);
    margin-inline: auto;
  }
  .convert .wrapper img {
    order: -1;
  }
  .convert__instruction--card {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
  }
  .convert__instruction--card img {
    max-width: 40dvw;
  }
  .convert__cta {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
  }
  .convert__cta a {
    margin-top: 0;
  }
}
@keyframes dot-anim {
  to {
    top: -3px;
  }
}

/*# sourceMappingURL=index.css.map */
