@forward './Components/reset';
@forward './Components/font-face';
@forward './Components/custom-properties';

@mixin display(){
    font-family: 'ExtraBold';
    font-size: clamp(3rem, 10vw, var(--font-size-display));
    line-height: 1.3;
}

@mixin h1(){
    font-family: 'Bold';
    font-size: clamp(2.5rem, 10vw, var(--font-size-h1));
    line-height: 1.2;
}

@mixin h2(){
    font-family: 'Medium';
    font-size: clamp(2rem, 8vw, var(--font-size-h2));
    line-height: 1.2;
}

@mixin h3(){
    font-family: 'Regular';
    font-size: clamp(var(--font-size-body1), 5vw, var(--font-size-h3));
    line-height: 1.2;
}

@mixin spacing($min, $avg, $max){
    max-width: clamp($min, $avg ,$max);
    margin-inline: auto;
}

@mixin flex($orientation, $gap){
    display: flex;
    flex-direction: $orientation;
    gap: $gap;
}

//Default body styling
body{
    background-color: var(--clr-bg);
    color: var(--clr-text);
    line-height: 1.2;
    font-size: var(--font-size-body);
    font-family: 'Regular';
}

//Scrollbar styling
::-webkit-scrollbar{
    background-color: transparent;
    width: 3px;
}
::-webkit-scrollbar-thumb{background-color:var(--clr-neutral-300)}

//For changing font colors of certain span texts
.primary{color: var(--clr-primary)}
.secondary{color: var(--clr-secondary)}
.accent{color: var(--clr-accent)}

//For styling the nav links on header
.page{
    color: var(--clr-text);
    position: relative;
    padding-bottom: .5rem;

    &::before{
        position: absolute;
        content: '';
        width: 0%;
        height: 2px;
        background-color: var(--clr-secondary);
        bottom: 0;
        transition: width 300ms ease-in-out;
    }

    &.active{
        font-family: 'BoldItalic';
        color: var(--clr-text);
        
    
        &::before{width: 50%;}
    }

    &.inactive{

        &::before{background-color: var(--clr-neutral-300)}
        &:hover, &:focus{
            font-family: 'Italic';
            &::before{width: 50%}
        }
    }
}

//Loading animation fallback for Suspense
.loading-fallback{
    height: 100vh;
    @include flex(row, 0);
    align-items: center;
    justify-content: center;
}

//Header
.header{
    padding-block: 2rem;

    & nav{
        @include spacing(70%, 80vw, 90rem);
        @include flex(row, 1rem);
        justify-content: space-between;
        padding-block: 3rem;
    
        & ul{@include flex(row, 2rem)}
        & button{display: none;}
    
        @media screen and (max-width: 600px) {
            & ul{display: none;}
            & button{
                display: block;
                background-color: transparent;
                border: none;
                cursor: pointer;
            }
        }
    }
}

//Footer
.footer{
    padding-block: 7rem;

    & nav{
        @include spacing(70%, 80vw, 90rem);
        @include flex(column, 3rem);
        
    }

    @media screen and (max-width: 800px){& nav{max-width: fit-content;}}

    &__label{
        font-size: var(--font-size-body1);
        color: var(--clr-primary);
    }

    & ul li a{
        &:hover, &:focus{
            color: var(--clr-secondary);
            font-family: 'Italic'
        }
    }

    &__links ul li:not(:first-of-type){margin-top: .5rem}

    &__socials{
        &--links{
            @include flex(row, 1rem);
            padding-top: 1.5rem;
        }

        & a{
            font-size: 2rem;
            color: var(--clr-neutral-100);
            position: relative;
            top: 0;
            transition: top 100ms ease-in-out;

            &:hover, &:focus{
                color: var(--clr-secondary);
                top: -3px;
            }
        }
    }
}

//Drag and Drop Container
.drag-and-drop{
    position: relative;
    @include flex(column, .5rem);
    align-items: center;
    justify-content: center;

    //bacground image is for the dashed border
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23A4CBEEFF' stroke-width='6' stroke-dasharray='14%2c 14%2c 3' stroke-dashoffset='12' stroke-linecap='round'/%3e%3c/svg%3e");
    padding-block: calc(5vw + 3rem);

    & input{
        border: 1px solid  red;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
        opacity: 0;
        cursor: pointer;
    }
}

//Homepage
.homepage{
    & > *:not(.wrapper){@include spacing(70%, 80vw, 90rem)}

    //Sub-link below the heading
    &__sub{
        padding-bottom: calc(10vw + 5rem);

        & a{
            color: var(--clr-secondary);
            text-decoration: none;
            display: inline-flex;
            gap: .75rem;
            margin-inline: .75rem;
            transition: gap 200ms ease-in-out;
            font-family: 'Bold';
            position: relative;

            &::after{
                position: absolute;
                content: '';
                width: 100%;
                height: 2px;
                background-color: var(--clr-neutral-300);
                width: 0;
                bottom: 0;
                transition: width 500ms ease-in-out;
            }

            &:hover, &:focus{
                gap:1rem;
                font-family: 'BoldItalic';
                &::after{
                    width: 40%
                }
            }
        }
    }

    h1{
        @include display();
        padding-top: calc(3vw + 2rem);

        //Start Compressing button
        & a{
            position: relative;
            font-size: clamp(var(--font-size-body), 3vw, var(--font-size-body1));
            background-color: var(--clr-primary);
            color: var(--clr-neutral-900);
            text-decoration: none;
            padding: calc(min(1rem, 1vw) + .5rem) 2rem;
            border-radius: 5rem;
            display: inline-block;
            top: -1.5vw;
            white-space: nowrap;
            border: 2px solid var(--clr-primary);
            margin-top: 1rem;
            transition: top 200ms ease-in-out;

            &:hover{
                background-color: transparent;
                color: var(--clr-text);
                top: -2.10vw;
            }

            &:focus{
                box-shadow: 0 0 25px var(--clr-text);
                opacity: .9;
            }
        }

        // Newspaper image
        & .img{
            width: calc(.7em + 1rem);
            height: calc(.7em + 1rem);
            border-radius: .25em;
            border: 2px solid var(--clr-text);
            background-image: url('../Assets/newspaper.jpg');
            display: inline-block;
            background-position: center;
            background-clip: content-box;
            position: relative;
            margin-inline: calc(2vw + 2.5rem);
            background-size: cover;

            //Banana image
            &::before{
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                border-radius: .25em;
                border: 2px solid var(--clr-text);
                background-image: url('../Assets/banana.jpg');
                left: -.65em;
                z-index: -1;
                background-position: center;
                background-size: cover;
            }

            //Messy Paper Posters image
            &::after{
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                border-radius: .25em;
                border: 2px solid var(--clr-text);
                background-image: url('../Assets/mess.jpg');
                right: -.65em;
                z-index: 1;
                background-position: center;
                background-size: cover;
            }
        }


    }

    h2{@include h2()}

    &__mid-content {
        padding-block: calc(10vw + 10em) calc(25vw + 25em);
        @include flex(column, 0);
        align-items: center;

        h2{max-width: 25ch; text-align: center; padding-top: 2rem;}
        & img{height:auto}
    }

    &__mission{
        //Custom Property
        $--_fs-paragraph: 1.10rem;

        padding-bottom: calc(15vw + 15em);
        & h2{padding-bottom: .5em;}
        & p{
            line-height: 1.8; 
            font-size: $--_fs-paragraph;
            max-width: 80ch;
        }

        

        @media screen and (max-width: 400px) { & p{max-width: 23ch;} }
    }

    &__offer{
        @include spacing(70%, 80vw, 90rem);
        padding-block: calc(15vw + 5em);

        & h2{margin-top: 0}
        & h3{@include h3(); padding-top: .75em;}
        & p{font-family: 'Thin';}
    }

    &__closing{

        padding-block: calc(15vw + 15em);
        & p:first-child{ @include h2() }
        & p{font-family: 'Thin';}
    }

    &__cta{
        @include spacing(70%, 80vw, 90rem);
        padding-block: calc(10vw + 10em);
        text-align: center;
        @include flex(column, calc(8vw + 2em));
        align-items: center;

        & h2{@include display()}

        & a{
            @include h3();
            text-decoration:none;
            @include flex(column, 1rem);
            margin-bottom: .75em;
            padding-bottom: 5px;
            position: relative;
            width: max-content;
            margin-inline: auto;
            -webkit-text-stroke: 1.3px var(--clr-text);
            color: transparent;
            font-family: 'Italic';
            text-transform: uppercase;

            &::before{
                position: absolute;
                content: '';
                width: 0%;
                height: 2px;
                background-color: var(--clr-neutral-300);
                bottom: 0;
                transition: width 400ms ease-in-out;
            }

            &:hover, &:focus{
                color: var(--clr-text);
                &::before{ width: 50% }
            }
        }
    }

    .wrapper{background-color: var(--clr-neutral-700)}
}

//Compress
.compress{
    .wrapper{
        background-color: var(--clr-neutral-700); 
        padding-block: calc(3vw + 2em)
    }

    h1{@include h1()}
    h2{@include h2()}

    //Animation for the three dots on the 'Please Wait...' above the spinner on promise-loading class
    @for $i from 0 through 3{
        .dot-anim:nth-child(#{$i}){
            display: inline-block;
            position: relative;
            animation: dot-anim 500ms linear infinite;
            animation-delay: calc(150ms * #{$i}) ; 
        }
    }

    &__hero{
        @include flex(column, calc(3vw + 2rem));
        @include spacing(80%, 85vw, 90rem);
        padding-block: calc(3vw + 2rem);
        & p{margin: 0;}

        &--files{
            box-shadow: 0 0 13px rgba(255 255 255 / .2);
            overflow-y: scroll;
            height: clamp(25rem, 30vw, 40rem);
            position: relative;

            & .promise-loading{
                font-family: 'Italic';
                font-size: var(--font-size-caption);
                position: absolute;
                inset: 0;
                margin: auto;
                @include flex(column, 0.5rem);
                align-items: center;
                justify-content: center;
            }

            & .note{
                font-family: 'Italic';
                position: absolute;
                height: fit-content;
                width: fit-content;
                inset: 0;
                margin: auto;
                font-size: var(--font-size-caption);
            }
        }

        .files__card{
            font-size: var(--font-size-caption);
            @include flex(row, 2rem);
            justify-content: space-between;
            align-items: flex-end;
            margin-inline: 1.5rem;
            padding-block: 1.5rem .75rem;

            & img{height: 25px; width: 25px;}

            &:not(:last-child){border-bottom: 1px solid var(--clr-neutral-500)}

            &--download{
                @include flex(row, 1.5rem);
                align-items: flex-end;
            }
        }

        button{
            font-family: 'Bold';
            font-size: var(--font-size-button);
            padding-block: 1rem;
            background-color: var(--clr-primary);
            border: 1px solid var(--clr-primary);
            border-radius: 10em;
            position: relative;
            top: 0;
            transition: top 100ms ease-in-out;
            cursor: pointer;

            &:not([disabled]):hover{
                background-color: transparent;
                color: var(--clr-text);
                top: -3px;
            }

            &[disabled]{
                opacity: .5;
                pointer-events: none;
                touch-action: none;
            }

            &:focus{box-shadow: 0 0 25px rgba(255 255 255 / .9)}
        }
    }

    &__instruction{
        padding-block: calc(10vw + 10rem);
        section, h1{@include spacing(80%, 85vw, 90rem)}

        &--card{
            margin-block: calc(5vw + 5em);
            
            img{
                margin-inline: 0;
                height: auto;
            }
            @media screen and (max-width: 800px) {img{width: auto;}}

            &:not(:nth-child(1)){
                img{padding-top: 5rem;}
            }
        }

        & ul{list-style:inside; line-height: 1.8;}

        //Adds Padding Block to each card aside from h1
        & > *:not(h1){padding-block: 3em}

        & > * {padding-bottom: 3em;}

    }

    &__closing{
        padding-block: calc(2vw + 3em) calc(15vw + 15em);
        @include spacing(80%, 85vw, 90rem);
        & p:first-child{@include h1()}
        & p:last-child{line-height: 1.8; font-family: 'Thin';}
    }

    &__cta{
        background-color: hsla(35 76% 75% / .4);
        font-family: 'Bold';
        & :not(a){@include h2(); line-height: 1.8};
        padding: calc(5em + 5vw) ;
        & *{margin-top: 0;}
        text-align: center;

        & a{
            text-decoration: none;
            background-color: var(--clr-accent);
            font-size: clamp(1rem, 1.5vw, var(--font-size-button));
            display: inline-flex;
            align-items: center;
            gap: 1rem;
            padding: 1rem 1.5rem;
            margin-top: 3em;
            color: var(--clr-bg);
            position: relative;

            img{
                position: relative;
                right: 0;
                transition: right 200ms  ease-in-out;
            }

            &:hover {
                font-style: italic;
                img{
                    right: -3px;
                }
            }

            &:focus{box-shadow: 0 0 20px rgba(255 255 255 / .9);}
        }
    }
}

//Convert
.convert{
    position: relative;
    .wrapper{
        background-color: var(--clr-neutral-700); 
        padding-block: calc(3vw + 2em)
    }

    //Error message which appears when user tries to convert without choosing a format first
    .caption, .caption-format{
        position: absolute;
        top: 3vw;
        font-size: var(--font-size-caption);
        font-family: 'BoldItalic';
        color: var(--clr-danger);
        display: inline-flex;
        align-items: center;
        gap: .5rem;
        opacity: 0;
        visibility: none;
        transition: opacity 300ms ease-in-out;
    
        & img{display: inline-block;}
        &.show{opacity: 1; visibility: visible}
    }

    //Animation for the three dots on the 'Please Wait...' above the spinner on promise-loading class
    @for $i from 0 through 3{
        .dot-anim:nth-child(#{$i}){
            display: inline-block;
            position: relative;
            animation: dot-anim 500ms linear infinite;
            animation-delay: calc(150ms * #{$i}) ; 
        }
    }
    
    h1{@include h1()}
    h2{@include h2()}

    &__hero{
        @include flex(column, calc(3vw + 2rem));
        @include spacing(80%, 85vw, 90rem);
        @media screen and (min-width: 540px){
            &--buttons{
                @include flex(row, 1rem);
                justify-content: space-between;
                align-items: center;

            
                & button{padding-inline: calc(5vw + .5em)}
            }
        }

        padding-block: calc(3vw + 2rem);
        & p{margin: 0;}

        &--files{
            box-shadow: 0 0 13px rgba(255 255 255 / .2);
            overflow-y: scroll;
            height: clamp(25rem, 30vw, 40rem);
            position: relative;

            & .promise-loading{
                font-family: 'Italic';
                font-size: var(--font-size-caption);
                position: absolute;
                inset: 0;
                margin: auto;
                @include flex(column, 0.5rem);
                align-items: center;
                justify-content: center;
            }

            & .note{
                font-family: 'Italic';
                position: absolute;
                height: fit-content;
                width: fit-content;
                inset: 0;
                margin: auto;
                font-size: var(--font-size-caption);
                padding-inline: 2rem;
            }
        }

        .files__card{
            font-size: var(--font-size-caption);
            @include flex(row, 2rem);
            justify-content: space-between;
            align-items: flex-end;
            margin-inline: 1.5rem;
            padding-block: 1.5rem .75rem;

            & img{height: 25px; width: 25px;}

            &:not(:last-child){border-bottom: 1px solid var(--clr-neutral-500)}

            &--download{
                @include flex(row, 1.5rem);
                align-items: flex-end;
            }
        }

        select{
            padding: .5rem 3rem .5rem 1rem;
            margin-left: 1rem;
            background-color: transparent;
            color: var(--clr-text);
            border: 1px solid var(--clr-accent);
            border-radius: .5rem;
            background-image: url('../Assets/sd.svg');
            background-repeat: no-repeat;
            background-position: 85% center;
            cursor: pointer;

            &:focus{box-shadow: 0 0 5px rgba(255 255 255 / .9)}

            //Removes default arrow on select dropdown
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            & option{
                color: var(--clr-bg);
                &[disabled]{color: var(--clr-neutral-500);}
            }
        }
        
        button{
            font-family: 'Bold';
            font-size: var(--font-size-button);
            padding-block: 1rem;
            background-color: var(--clr-primary);
            border: 1px solid var(--clr-primary);
            border-radius: 10em;
            position: relative;
            top: 0;
            transition: top 100ms ease-in-out;
            cursor: pointer;
            @media screen and (max-width: 540px) {
                margin-top: 1em;
                min-width: 100%;
            }

            &:not([disabled]):hover{
                background-color: transparent;
                color: var(--clr-text);
                top: -3px;
            }

            &[disabled]{
                opacity: .5;
                pointer-events: none;
                touch-action: none;
            }

            &:focus{
                box-shadow: 0 0 25px rgba(255 255 255 / .9);
            }
        }
    }

    &__instruction{
        padding-block: calc(10vw + 10rem);
        section, h1{@include spacing(80%, 85vw, 90rem)}

        &--card{
            margin-block: calc(5vw + 5em);

            img{
                margin-inline: 0;
                height: auto;
            }
            @media screen and (max-width: 800px) {img{width: auto;}}

            img{padding-top: 5rem;}
        }

        & ul{list-style:inside; line-height: 1.8;}

        //Adds Padding Block to each card aside from h1
        & > *:not(h1){padding-block: 3em}

        & > * {padding-bottom: 3em;}
    }

    &__closing{
        padding-block: calc(2vw + 3em) calc(15vw + 15em);
        @include spacing(80%, 85vw, 90rem);
        & p:first-child{@include h1()}
        & p:last-child{line-height: 1.8; font-family: 'Thin';}
    }

    &__cta{
        background-color: hsla(35 76% 75% / .4);
        font-family: 'Bold';
        & :not(a){@include h2(); line-height: 1.8};
        padding: calc(5em + 5vw) ;
        & *{margin-top: 0;}
        text-align: center;

        & a{
            text-decoration: none;
            background-color: var(--clr-accent);
            font-size: clamp(1rem, 1.5vw, var(--font-size-button));
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            padding: 1rem 3rem;
            margin-top: 3em;
            color: var(--clr-bg);
            position: relative;

            img{
                position: relative;
                right: 0;
                transition: right 200ms  ease-in-out;
            }

            &:hover {
                font-style: italic;
                img{
                    right: -3px;
                }
            }

            &:focus{box-shadow: 0 0 20px rgba(255 255 255 / .9);}
        }
    }
}

//Disables action on the body when floating menu is visible
.disabled{
    pointer-events: none;
    touch-action: none;

    #root > *:not(.floating-menu){
        filter: blur(3px);
    }
}

//Floating Hamburger Icon when Header is not in screen
.floating-burger{
    position: fixed;
    top: 3.5rem;
    right: 3svw;
    z-index: 9999;

    button{
        background-color: transparent;
        border: 1px solid var(--clr-neutral-500);
        background-color: black;
        padding: calc(1vw + .5rem);
        border-radius: 50%;
        cursor: pointer;
        transition: rotate 300ms ease-in-out;

        &:hover{rotate: 180deg}

        @media screen and (max-width: 800px) {
            & img{height: 30px; width: 30px;}
        }
    }
}

//Opened Hamburger menu
.floating-menu{
    clip-path: circle(0 at 80% 10%);
    position: fixed;
    inset: 0 0 0 auto;
    width: calc(20dvw + 10rem);
    background-color: var(--clr-neutral-900);
    z-index: 9999;
    pointer-events: all;
    touch-action: auto;
    transition: all 700ms ease-in-out;

    &.show{clip-path: circle(200svh at 100% 0)}

    & nav{
        @include flex(column, 5rem);
        align-items: center;
        padding-top: 6rem;
    }

    li:not(:nth-of-type(1)){padding-top: 2rem;}

    a{
        font-size: clamp(2rem, 6svw, var(--font-size-h2));
        font-family: 'Light';

        & span{
            -webkit-text-stroke: 1px var(--clr-text);
            color: transparent;
        }
    }

    button{
        background-color: transparent;
        border: 0;
        align-self: flex-end;
        margin-right: calc(3svw + 2rem);
        cursor: pointer;
        transition: rotate 300ms ease-in-out;

        &:hover{
            rotate: 180deg;
        }
    }
}

//Large Screen size queries
@media screen and (min-width: 50em){
    .footer{
        & nav{
            flex-direction: row;
            justify-content: space-between;
        }

        &__label{margin-top: 0;}
    }

    .homepage{
        h1, &__sub{text-align: center;}

        &__offer--card{max-width: 70ch}
        & .container{
            @include flex(row, 1rem);
            justify-content: space-between;
        }
    }

    .compress{
        & > *:not(:has(.wrapper)){@include spacing(70%, 80vw, 90rem)}
        & > *:is(.compress__cta){max-width: 100%;}

        &__hero button{
            align-self: flex-end;
            padding-inline: 5em

        }

        &__instruction--card{
            @include flex(row, 2rem);
            justify-content: space-between;
            align-items: center;

            img{max-width: 40dvw}
        }

        &__cta{
            @include flex(row, 2rem); 
            justify-content: space-between; 
            align-items: center;
        }
    }

    .convert{
        &__hero{@include spacing(70%, 80vw, 90rem)}

        .wrapper img{order: -1;}

        &__instruction--card{
            @include flex(row, 2rem);
            justify-content: space-between;
            align-items: center;

            img{max-width: 40dvw}
        }

        &__cta{
            @include flex(row, 2rem); 
            justify-content: space-between; 
            align-items: center;

            a{margin-top: 0;}
        }
    }
}

@keyframes dot-anim{to{top: -3px;}}